
body {
  font-family: 'Inter', sans-serif;
  background: #cae9f0;
  margin: 0;
  padding: 0;
  height: 100%;
}


/* Contenedores genéricos */
.contenedor_inicio {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #ffffff;
  padding: 15px 30px 25px 30px; /* top reducido */
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
  width: 250px;
  text-align: center;
  margin: 80px auto 0 auto;
}


/* Ocultar input real */
.entrada_archivo {
  display: none;
}

/* ===== BOTÓN DINÁMICO ===== */
.boton-dinamico {
  background: #F7EFA2;
  color: #333;
  padding: 6px 14px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 0.85rem;
  display: inline-flex;
  align-items: center;
  gap: 6px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.15);
  transition: 0.2s;
  border: none;
  cursor: pointer;
  margin-top: 10px;
}

.boton-dinamico:hover {
  background: #f3e98d;
}

.boton-dinamico svg {
  width: 18px;
  height: 18px;
  fill: #333;
}

/* ===== ERRORES ===== */
.alerta-error,
.error {
  color: red;
  font-weight: bold;
  font-style: italic;
  text-align: center;
}
